
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

<link href="~/Content/css/cssGioiThieu.css" rel="stylesheet" />

<div id="main">
    <h3 class="py-2 border-bottom">Giới thiệu</h3>
    <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI ĐIỆN TỬ MÁY TÍNH MULTISHOP</p>
    <p>Công ty TNHH thương mại dịch vụ MULTISHOP được thành lập ngày 12/06/2022.Những ngày đầu thành lập, công ty chúng tôi chỉ có 4 thành viên. Sau hơn 10 năm hoạt động công ty chúng tôi có hơn 200 nhân sự.</p>
    <p>Hiện tại công ty chúng tôi có hơn 10 chi nhánh từ Bắc vào Nam.</p>

    <div class="font-weight-bold py-1">ĐA DẠNG VỀ MẪU MÃ VÀ GIÁ CẢ</div>
    <p>Tại tất cả các hệ thống trên toàn quốc, công ty chúng tôi có đầy đủ tất cả các dòng máy tính laptop từ văn phòng cho đến hạng nặng để chơi game phù hợp với mọi lứa tuổi.</p>
    <p>Giá cả phù hợp với mọi người. Công ty chúng tôi đảm bảo bán đúng giá từ nhà sản xuất và giá cả cạnh tranh với thị trường hiện tại.</p>
    <div class="font-weight-bold py-1">ĐỘI NGŨ CHĂM SÓC KHÁCH HÀNG</div>
    <p>Công ty chúng tôi luôn có đội ngũ nhân viên chăm sóc khách hàng tận tâm - nhiệt tình - chu đáo. Luôn hỗ trợ khách hàng có nhu cầu tư vấn giải đáp thắc măc 24/7.</p>
</div>
