@using WebBanlaptop.Models;
@{ IEnumerable<SANPHAM> lstSPNB = (IEnumerable<SANPHAM>)ViewBag.lstSPNB;
    IEnumerable<SANPHAM> lstSPM = (IEnumerable<SANPHAM>)ViewBag.lstSPM;
}
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}
<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#header-carousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Content/img/bannerAP.jpg" style="object-fit: cover;">

                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Content/img/banner_blackFriday.png" style="object-fit: cover;">

                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="~/Content/img/bannerLaptop.jpg" style="object-fit: cover;">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="~/Content/img/banner-showroom.jpg" alt="">

            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="~/Content/img/banner-showroom2.jpg" alt="">

            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Đổi-trả 14 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Danh mục sản phẩm</span></h2>
    <div class="row px-xl-5 pb-3">
        @Html.Action("danhMucSP", "SanPham",new { type = true })
    </div>
</div>
<!-- Categories End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm nổi bật</span></h2>
    @Html.Partial("~/Views/SanPham/showSPNoiBatPartial.cshtml", lstSPNB.Take(8))
    <div class="block" id="gaming">
        @using (Html.BeginForm("showSP", "SanPham", new { type = true }))
        {
            <button type="submit" class="block-btn">
                <span>Xem tất cả sản phẩm nổi bật</span>
            </button>
        }

    </div>
</div>
<!-- Products End -->
<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                
                <img class="img-fluid" src="~/Content/img/banner3.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/Content/img/banner4.jpg"   alt="">

            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm mới</span></h2>
    @Html.Partial("~/Views/SanPham/showSPNoiBatPartial.cshtml", lstSPM.Take(8))
    <div class="block" id="gaming">
        @using (Html.BeginForm("showSP", "SanPham", new { type = false }))
        {
            <button type="submit" class="block-btn">
                <span>Xem tất cả sản phẩm mới</span>
            </button>
        }

    </div>
</div>

<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logoacer.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logoasus.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logodell.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logohp.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logolenovo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logomacbook.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/Content/logoSP/logomsi.png" alt="">
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
<style type="text/css">
    #gaming .block-btn-more, #gaming .block-btn {
        background: linear-gradient(92.4deg,#ffd400 0%,#febf00 100%);
        box-shadow: 0 0 20px #b88a00;
    }

    .block-btn {
        background-color: #fff;
        border-radius: 4px;
        color: #333;
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin: 10px auto 0;
        max-width: 350px;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }
</style>
